body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:lightblue;
    font-family:Arial;
}

.box{
    text-align:center;
    background:white;
    padding:20px;
    border-radius:10px;
}

button{
    padding:10px 20px;
    cursor:pointer;
}
