*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
}

header{
    background:#ff5722;
    color:white;
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-weight:bold;
}

.hero{
    text-align:center;
    padding:80px 20px;
    background:#ffe0b2;
}

.hero h2{
    font-size:40px;
    margin-bottom:10px;
}

.hero p{
    margin-bottom:20px;
}

.hero button{
    padding:10px 20px;
    border:none;
    background:#ff5722;
    color:white;
    border-radius:5px;
    cursor:pointer;
}

.menu{
    padding:40px;
    text-align:center;
}

.card{
    background:white;
    width:250px;
    display:inline-block;
    margin:15px;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

footer{
    background:#333;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:20px;
}
